@font-face {
    font-family: 'Ahsing';
    src: url('/fonts/typogama-ahsing.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial indifference';
    src: url('/fonts/glacial-indifference/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial indifference';
    src: url('/fonts/glacial-indifference/GlacialIndifference-Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Glacial indifference';
    src: url('/fonts/glacial-indifference/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('/fonts/CormorantGaramond-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Paleta de Colores */
    --bg-cream: #f2edde;
    --cafe-noir: #4C3D19;
    --kombu-green: #354024;
    --moss-green: #889063;
    --tan: #CFBB99;
    --bone:#E5D7C4;
    --lg-green: #cadbb7;
    --bg-green:#d9e4d0;
    --dk-green:#354024;
    --beige: #cfbb99;
    --botones: #cadbb7;

    --text-dark: black;


    /* Tipografía */
    --font-serif-title: 'Ahsing', serif;
    --font-sans-body: 'Glacial indifference', serif;
    --font-serif-field: 'Cormorant Garamond', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-sans-body);
    background-color: var(--bg-cream);
    color: var(--text-dark);
}

