.logo {
    height: 80px;
    width: auto;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
}


/* Cambiar la imagen de fondo */
.bg-image {
    min-height: 100vh;
    margin: 0;
    /* ../ significa "salir de la carpeta css" */
    background-image: url('../images/decoracion_plantas.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.auth-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #FBFBFB;
    font-family: 'Glacial indifference', sans-serif;
}

.auth-container {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-box {
    padding: 40px;
    width: 100%;
    max-width: 45%;
    text-align: center;
    border-radius: 30px;
    background-color: rgba(136, 144, 99, 0.85);
    color: white;
}
.input-group {
    text-align: left;
    width: 80%;
    margin: 0 auto 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-left: -10px;
    margin-bottom: 5px;
    color: var(--kombu-green);
}
.password-wrapper {
    position: relative;
    margin: 0 auto;
    text-align: left;
}
.auth-box input, 
.password-wrapper input {
    width: 100%;
    padding: 12px;
    padding-right: 40px; 
    border: none;
    border-bottom: 2px solid #4C3D19;
    background: transparent;
    outline: none;
    font-size: 14px;
}
.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
    width: 20px;
    height: auto;
    opacity: 0.7; 
    transition: opacity 0.3s;
}
.password-toggle-icon:hover {
    opacity: 1;
}
.auth-box input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid var(--kombu-green);
    background: transparent;
    outline: none;
}

.btn-primary {
    width: 80%;
    background-color: var(--tan);
    color: #000;
    padding: 12px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    margin: 20px 0;
    cursor: pointer;
}

.btn-google, .btn-outline {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 25px;
    background: transparent;
    text-decoration: none;
    color: #000;
}

input::placeholder {
    color: #333;
}

.divider {
    margin: 15px 0;
    font-size: 18px;
}

.login-link {
    font-size: 18px;
    color: white;
}

.forgot-link {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}